
.navBar{
    background-color: rgba(16, 9, 58, 0.555);
}

.navWrapper{
    display:flex;
    justify-content: space-between;
    padding: 6px;
}

.navRight{
    display:flex;
}

.navWrapper > .navRight > div{
    margin-left: 12px;
    font-size: 1em;
    text-transform: uppercase;
}

.navLeft{
    display:flex;
}

.navWrapper > .navLeft > div{
    margin-right: 20px;
    font-size: 1em;
}

.navlinkWrapper{
    height: 18px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.navlinkWrapper a{ 
    color: rgba(238, 232, 228, 0.774);
    text-decoration: none;
    transition: color 0.5s;
}

.navlinkWrapper:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.navlinkWrapper a:hover{
    color: rgb(255, 255, 255);
}

body {
    margin: 0px;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.itemsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.itemWrapper{
    position: relative;
}

.img-bg{
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

video {
    object-fit: cover;
}

.vidWrapper{
    height: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.imgTextWrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.itemHeader{
    text-transform: lowercase;
}

.imgTextWrapper .itemText{
    transition: 1s; 
    font-weight: 400;
    color:transparent;
}

.imgTextWrapper:hover .itemText{
    font-weight: 400;
    color: bisque;
}

.imgFadeOut{
    transition: 1s;
    filter: brightness(50%);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
