nav{
    display: flex;
    background-color: rgba(33, 33, 37, 0.753);
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;
}

nav .navTitle{
    display: flex;
    float: left;
    font-size: x-large;
    font-weight: 600px;
    color: rgba(187, 166, 152, 0.548);
    padding-left: 30px;
    padding-top: 5px;
}


ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

iframe{
    border-radius: 3%;
    height: 700px;
}
ul li{
    
    padding: 0px;
    width: 200px;
    height: 40px;
    margin: 0px;
    float: left;
    z-index: 1;    
    top: 0;
    text-align: center;
    list-style: none;
    line-height: 40px;
    opacity: .8;
    
}

#submenu{
    background-color: rgba(33, 33, 37, 1);
    display: none;
    opacity: 1;
}

ul li:hover #submenu{
    display: block;
}

.boundingBox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

ul li{
    font-size: 1em;
    text-transform: uppercase;
    color: rgba(187, 166, 152, 0.548);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
}


ul a li{
    font-size: 1em;
    text-transform: uppercase;
    color: rgba(187, 166, 152, 0.748);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
    
}

#submenu a{
    font-size: 1em;
    text-transform: uppercase;
    color: rgba(187, 166, 152, 0.548);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
}

footer{
    background-color: rgba(33, 33, 37, 0.753);
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;

    
}

footer a{
    opacity: 50%;
    border: 0px;
    justify-content: space-between;
    padding: 1px;
    text-decoration: none;
    transition: opacity 0.5s;
}

footer a:hover{
    opacity: 100%;
}

.contentWrapper{
    position: relative;
    padding: 0px;
    height: 98%;
    width: 98%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 1%;
}

.contentTitleWrapper{
    padding: 20px;
}

.contentTitle{
    height: 25px;
    border-bottom: 1px solid;
}

.box {
    border-radius: 0.4%;
    background: rgba(0, 0, 0, 0.185);
    padding: 0%;
    margin: 4%;
    margin-top: 0%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    
}

.sketchfabbox, .rightBox {

    padding: 2%;
    margin: 2%;
    margin-top: 0%;
    height: 100%;
    width: 98%;
    
}

.sketchfabbox{
    padding: 0%;
    
}

.sketchfabbox .sketchfab-embed-wrapper{
    padding: 1%;
}

.rightBox{ 
    padding: 0%;
    margin: 2%;
    margin-top: 0%;
    width: 95%;
}

.sketchfabbox p, .rightBox p{
    margin-top: 0%;
    padding: 2%;
    height: 98%;
    width: 98%;
    font-size: larger;
}
.contentTitle, nav .navTitle{
    color: #00fff277;
    font-family: Sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 2px;
}

#subheading{
    color: rgb(180, 172, 134);
    letter-spacing: 2px;
}


.sketchfabbox p, .rightBox p, .inlinea,.imgTextWrapper:hover .itemText{
    color: #e5d8c6a8;
    font-family: Sans-serif;
}

ul a li, ul li{
    color: #e5d8c6;
    font-family: Sans-serif;
    
}

.box, .rightBox, .sketchfabbox{
    background-color: #01050f23;
    border: 1px solid #0000000c;
    border-radius: .5em;
}

#submenu:hover a,ul a:hover li,ul li:hover{
    color: rgb(255, 147, 59);
    border-bottom: 1px solid rgb(255, 147, 59);
}

.modal-content{
    background-color: rgba(33, 33, 37, 0.753);
}
html{
min-height: 100%;
margin: 0;
}

body {
    min-height: 100%;
    margin: 0 auto;
    position: relative;

    background: rgb(41, 41, 41);
    background: linear-gradient(0deg,#3b3947,#444655);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1d1c1c", endColorstr="#1f4147", GradientType=1 );

}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.itemsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    
}

.itemWrapper{
    height: 350px;
    width: auto;
    position: relative;
}

.img-bg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0%;
}

video {
    object-fit: cover;
    border-radius: 0%;
    
}

.vidWrapper{
    height: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.imgTextWrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.itemHeader{
    text-transform: lowercase;
}

.imgTextWrapper .itemText{
    transition: 1s; 
    font-weight: 400;
    color:transparent;
}

.imgTextWrapper:hover .itemText{
    font-weight: 400;
}

.imgFadeOut{
    transition: 1s;
    filter: brightness(50%);
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    width: 100%; 
    height: 100%; 
    overflow: scroll; 
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    overflow: hidden;
  }

  #displayimg{
    position: relative;
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
    overflow: hidden;
  }
  
  #displayVid{
    position: relative;
    object-fit: contain;
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    z-index: 3;
  }


.modalWrapper{
    margin: 3%;
    height: 85%;

}
  /* Modal Content (image) */
  .modal-content {
    position: relative;
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    background-color:transparent;
    overflow: hidden;
  }
    
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
